//fuente
$title-1 : 24px;
$title-2 : 18px;
$title-3 : 16px;
$title-4 : 14px;
$title-5 : 13px;
$header-1 : 38px;
$header-2 : 33px;
$header-3 : 30px;

//espaciado default
$gutter-grid   : 30px;
$gutter-d: 20px; //espacio en pantallas desktop
$gutter-r: 15px; //espacio en pantallas responsive
$gutter-blog: 200px; //gutter especial para el contenido del blog
$gutter-grid-2 : 80px;

//Width y height para imágenes en forma de círculo
$wh-circle: 150px;

//colores
$gris-brand: #9c9c9c;
$gris   : #494A4A;
$gris-2 : #999;
$gris-3 : #DFE0E0;
$rojo   : #F04322;
$bg-footer : #282D31;
$bg-code: #272822;
$text-footer: #797D73;
$bg-social: #5F6265;
$blue-elegant: #092A35;
$blue-normal: #006dc6;
$blue-life: #0583F2;
$blue-light: #9dd3ff;
$blue-ultralight: #fafdff;
$bg-black: rgba(33, 40, 45, 0.55);
$pink: #ef2d56;
//colores redes sociales
$color-fb  : #3B5998;
$color-tw  : #55ACEE;

//shadow
$shadow: 0 1px 2px rgba(0,0,0,.1);